:root {
  --font: "San Francisco", Helvetica, Arial, san-serif;
}
body {
  margin: 0;
  --primary-color: #4791db;
  --secondary-color: #4791db4d;
  --tertiary-color: #4791db26;
}
a {
  text-decoration: none;
}
